.tab-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;

  .tab-bar-item {
    font-size: 24px;
    padding: 0 24px;

    &.active-tab {
      color: var(--color-primary);
    }
  }
}
