.create-active {
  padding-bottom: 200rpx;
  overflow-x: hidden;
  .avatar-container {
    height: 450rpx;
  }
}

.label-150 {
  :global {
    .nut-form-item__label,
    .nut-form-item-label {
      --nutui-form-item-label-width: max-content;
    }
  }
}

.label-block {
  display: block;
  :global {
    .nut-form-item__label {
      margin-bottom: 24px;
    }
  }

  .textarea-desc {
    :global {
      .nut-textarea__textarea {
        padding-left: 24px;
      }
    }
  }
}

.partition {
  background-color: var(--color-bg-gray);
  padding: 20rpx 20rpx 10rpx;
  color: var(--color-placeholder);
  font-size: 28rpx;
}
