.choose-location-wrap {
  display: flex;
  justify-content: space-between;

  .choose-label {
    position: relative;

    &.required::before {
      position: absolute;
      display: inline-block;
      color: #ff4949;
      font-size: 28rpx;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
      left: -20rpx;
    }

    .location-title {
      width: 420rpx;
      white-space: nowrap;
      overflow: hidden;
      color: var(--color-text-base);
    }
  }

  .right-tip {
    display: flex;
    align-items: center;

    .tip-text {
      margin-right: 20rpx;
      color: var(--color-gray-2);
    }
  }
}
